

<div class="mb-4">
  <h3 class="text-success mb-2">
    Đăng ký nhận thông báo
  </h3>

  <form method="post">
    <input type="text"
           class="form-control mb-2"
           placeholder="Nhập vào email" />
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary"
              type="submit">
        Đăng ký
      </button>
    </div>
  </form>

</div>



