@model IList<AmountPostItem>


<div class="mb-4">
  <h3 class="text-success mb-2">
    Lưu trữ
  </h3>

  <ul class="list-group">
    @foreach (var item in Model)
    {
      <li class="list-group-item">
        <a asp-controller="Blog"
         asp-action="Archive"
           asp-route-month=@item.Month
           asp-route-year=@item.Year>
          @item.Year - Tháng @item.Month
          <span>(@item.PostCount)</span>
        </a>
      </li>
    }
  </ul>
</div>
