@model IPagedList<Post>

@{
  ViewData["Title"] = "Trang chủ";
}

<div class="p-4">
  @foreach (var post in Model)
  {
    <partial name="_PostItem" model="@post" />
  }
  <partial name="_Pager" model="@Model" />
</div>

