@model PostFilterModel

<form asp-area="Admin"
      asp-controller="Posts"
      asp-action="Index"
      method="get"
      class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <label class="visually-hidden" asp-for="Keyword"></label>
    <input type="text"
           class="form-control"
           asp-for="Keyword"
           placeholder="Nhập từ khóa ..." />
  </div>
  <div class="col-auto">
    <label class="visually-hidden" asp-for="AuthorId"></label>
    <select class="form-control"
            asp-for="AuthorId"
            asp-items="Model.Authors">
      <option value="" selected>-- Chọn tác giả --</option>
    </select>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" asp-for="CategoryId"></label>
    <select class="form-control"
            asp-for="CategoryId"
            asp-items="Model.Categories">
      <option value="" selected>-- Chọn chủ đề --</option>
    </select>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" asp-for="PostedYear"></label>
    <input type="text"
           class="form-control"
           asp-for="PostedYear"
           placeholder="Nhập năm ..." />
  </div>
  <div class="col-auto">
    <label class="visually-hidden" asp-for="PostedMonth"></label>
    <select class="form-control"
            asp-for="PostedMonth"
            asp-items="Model.Months">
      <option value="" selected>-- Chọn tháng --</option>
    </select>
  </div>

  <div class="col-auto">
    <div class="form-check">
      <input class="form-check-input"
             type="checkbox"
             asp-for="NotPublished" />
      <label class="form-check-label"
             asp-for="NotPublished"></label>
    </div>
  </div>

  <div class="col-auto">
    <a asp-area="Admin"
       asp-action="Index"
       asp-controller="Posts"
       class="btn btn-warning">Bỏ lọc</a>
    <button type="submit" class="btn btn-primary">Tìm/Lọc</button>
    <a asp-area="Admin"
       asp-controller="Posts"
       asp-action="Edit"
       class="btn btn-success">
      Thêm mới
    </a>
  </div>
</form>
